:root {
}

body {
	margin: 2px;
	font-family: Calibri;
}

div, table, tr, td {
    border-spacing: 0;
    padding: 0;
    margin: 0;
    white-space: nowrap;
}

img {
    padding: 0;
    margin: 0;
}

.fill {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
}

.active {
	cursor: pointer;
}

.scale_picture {
	width: 100%;
	height: 100%;
}

.scale_picture img {
	width: 100%;
	height: 100%;
}

table.oferta {
	width: 100%;
	height: 100%;
	text-align: center;
	vertical-align: middle;
	background: #fff;
}

.win_admin {
}

.win_visual {
	background: #888;
}

td.win_canals {
	text-align: left;
	vertical-align: top;
}

td.win_medias {
	text-align: left;
	vertical-align: top;
}

td.win_control {
	text-align: left;
	vertical-align: top;
}

.win_visual td {
	border: 1px solid #aaa;
}

table.oferta td {
	padding: 16px;
	font-size: 18pt;
}

table.control {
	width: 100%;
	height: 100%;
	background: #ddd;
}

td.boxcell {
	border: solid 1px #666;
	text-align: center;
	vertical-align: middle;
}

td.boxtitle {
	text-align: center;
	vertical-align: middle;
	padding: 2px 8px;
	background: #555;
	color: #fff;
	font-size: 14pt;
	font-weight: bold;
}

td.control {
	text-align: left;
	vertical-align: top;
}

td.left {
	text-align: left;
}
td.center {
	text-align: center;
}
td.right {
	text-align: right;
}
td.top {
	vertical-align: top;
}
td.middle {
	vertical-align: middle;
}
td.bottom {
	vertical-align: bottom;
}

td.title {
	color: #000;
	padding: 1px 8px;
}

td.info {
	font-weight: bold;
	padding: 1px 8px;
}

ul#topon {
	position: fixed;
	margin: 0px;
	padding: 0px;
	top: 10px;
	left: 0px;
	list-style: none;
	z-index:9999;
}

ul#topon li {
	width: 50px;
}

ul#topon li a {
	display: block;
	margin-left: 5px;
	width: 50px;
	height: 40px;
	background-color:#555;
	background-repeat:no-repeat;
	background-position:center center;
	border:1px solid #aaa;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-box-shadow: 0px 4px 3px #008;
	-webkit-box-shadow: 0px 4px 3px #008;
}

ul#topon .topon a {
	background-image: url(/images/options.png);
}

.mediacmd {
	width: 100%;
}
.mediacmd td {
	background: #ddd;
	border: 1px solid #fff;
	padding: 1px 8px;
}

.cmd {
	cursor: pointer;
	float: right;
	text-decoration: none;
	font-size: 11pt;
	font-weight: bold;
	color: #038;
}
.cmdf {
	float: left;
}
.cmdd {
	float: left;
	color: #55a;
}

.cmd:hover {
	text-decoration: underline;
}

.edit {
	font-weight: bold;
}

